<mat-spinner *ngIf="pokemon == null"></mat-spinner>
<mat-card class="align">
    <mat-card-title-group>
      <mat-card-title>{{pokemon.name}}</mat-card-title>
      <img mat-card-md-image src="{{pokemon.imageFrontUrl}}" >
      <br/>
      <img mat-card-md-image src="{{pokemon.imageBackUrl}}" >
    </mat-card-title-group>
    <mat-card-content>
      Abilities : {{pokemon.abilities}}
      <br/>
      Weight : {{pokemon.weight}}
      <br/>
      Stats : {{pokemon.stats}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="back()" class="button">Back</button>
    </mat-card-actions>
</mat-card>