.align {
    text-align: center;
}

.grid_margin {
    margin-top: 10px;
}

.space {
    width: 4px;
    height: auto;
    display: inline-block;
  }

  .button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 2px;
  }

  .button_small {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 2px;
  }

.card-max {
    max-width: 400px;
}

.header-image {
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: fit-content;
    max-height: fit-content;
    padding: 1px 5px;
}