<br/>
<h1 class="align">Search for pokemon</h1>

<div class="align">
    <img src="assets/images/pokemon.png" >
</div>

<form [formGroup]="searchForm" (submit)="searchPokemon()" class="align">
    <input type="text" placeholder="Eg. bulbasaur" formControlName="name"/>
    <div class="space"></div>
    <button type="submit" value="Search" onclick="searchPokemon()" class="button">Search</button>
    <div class="space"></div>
    <button type="button" value="List" (click)="listPokemon()" class="button">View List</button>    
</form>

<br/>

<mat-spinner *ngIf="pokemons.length === 0"></mat-spinner>

<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">        
        <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let pokemon of pokemons" class="mt-2 grid_margin">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <!-- <div mat-card-avatar style="background-image: url('{{pokemon.imageFrontUrl}}');"></div> -->
                    <mat-card-title>{{pokemon.name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{pokemon.imageFrontUrl}}" alt="Photo of {{pokemon.name}}">
                <mat-card-actions>
                    <button mat-button (click)="viewDetail(pokemon)" class="button_small">view</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>