<br/>
<h1 class="align">Search for pokemon</h1>

<div class="align">
    <img src="assets/images/pokemon.png" >
</div>

<form [formGroup]="searchForm" (submit)="searchPokemon()" class="align">
    <input type="text" placeholder="Eg. bulbasaur" formControlName="name"/>
    <button type="submit" value="Search" onclick="searchPokemon()">Search</button>
</form>

<br/>
<div style="padding: 13px;">
    <mat-spinner *ngIf="pokemons.length === 0"></mat-spinner>
    <mat-card *ngFor="let pokemon of pokemons" class="mt-2 grid_margin">
        <mat-card-header>
            <mat-card-title>{{pokemon.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button (click)="viewDetail(pokemon.name)">view</button>
        </mat-card-actions>
    </mat-card>

</div>
